/* body {
    color: #f7f7f7;
} */

.jumbotron {
    background-image: url("../../images/istockphoto-628978952-612x612.jpg");
    background-size: 100% 100%;
    text-align: center;
    color:antiquewhite
}
.jumbotron p {
    color:yellow
}